@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

* {
	box-sizing: border-box;
	font-family: 'Pacifico';
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	background-color: #faebd7;
	margin: 0;
	overflow: hidden;
	height: 100vh;
	text-align: center;
}

.btn {
	border-radius: 10px;
	border: 1px solid white;
	margin: 1rem;
	padding: 1.5rem 4rem;
	font-size: 2rem;
	cursor: pointer;
}

.btn:hover {
	opacity: 0.9;
	border-radius: 15px;
}